{% extends "qcareers/base.html" %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'qcareers/jobrecommendation.css' %}">
{% endblock %}


{% block content %}
    <h1>Job Recomendation </h1>

    <form class="job-recommendation-form" action="{% url 'qcareers-recommended-job' %}" method="POST">
        {% csrf_token %}

        <div class="main-container">

          <div class="module-and-skills-container">
            <div class = "left-wrapper">

                <div class="module-section1">
                  <label>Module 1:</label> <br/>
                  <select id="module-select1" name="module-select1">
                    {% for module in allModules %}
                      <option value={{ module.module_name|cut:' ' }}>{{ module.module_name }}</option>
                    {% endfor %}
                  </select>
                </div>

                <br/>

                <div class="skills-section1">
                  <label>Skills:</label> <br/>
                  <select id="skills-select1" name="skills-select1" multiple>
                    <!--{% for skill in skills %} -->
                      <!--<option value={{ skill.skill_name }}>{{ skill.skill_name }}</option> -->
                    <!-- {% endfor %} -->
                  </select>
                  <br/> Please choose at least 3 skills <br/><br/>
                </div>

                <div class="grade-section1">
                  <label> Enter Grade for Module 1 (whole numbers): </label> <br/>
                  <input type="number" id="grade1" name="grade1" required>
                </div>

              </div>        
          </div>

          <br/><br/>

        


          <div class="module-and-skills-container2">
            <div class="middle-wrapper">

                <div class="module-section2">
                  <label>Module 2:</label> <br/>
                  <select id="module-select2" name="module-select2">
                    {% for module in allModules %}
                      <option value={{ module.module_name|cut:' ' }}>{{ module.module_name }}</option>
                    {% endfor %}
                  </select>
                </div>

                <br/>

                <div class="skills-section2">
                  <label>Skills:</label> <br/>
                  <select id="skills-select2" name="skills-select2" multiple>                    
                  </select>
                  <br/> Please choose at least 3 skills <br/><br/>
                </div>

               

                <div class="grade-section2">
                  <label> Enter Grade for Module 2 (whole numbers): </label> <br/>
                  <input type="number" id="grade2" name="grade2" required>
                </div>

            </div>
          </div>


          <br/><br/>

          


          <div class="module-and-skills-container3">
            <div class="right-wrapper">

                <div class="module-section3">
                  <label>Module 3: </label> <br/>
                  <select id="module-select3" name="module-select3">
                    {% for module in allModules %}
                      <option value={{ module.module_name|cut:' ' }}>{{ module.module_name }}</option>
                    {% endfor %}
                  </select>
                </div>

                <br/>

                <div class="skills-section3">
                  <label>Skills:</label> <br/>
                  <select id="skills-select3" name="skills-select3" multiple>                    
                  </select>
                  <br/> Please choose at least 3 skills <br/><br/>
                </div>

              

                <div class="grade-section3">
                  <label> Enter Grade for Module 3 (whole numbers): </label> <br/>
                  <input type="number" id="grade3" name="grade3" required>
                </div>

            </div>
          </div>

        </div>

        <br/><br/><input id="submitButton" type="submit">

        <label id="chosenModule" name="chosenModule">Select a module: </label>

    </form>

    


    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>

      $(document).ready(function(){
          $("#module-select1").prop("selectedIndex", -1);
          $("#module-select2").prop("selectedIndex", -1);
          $("#module-select3").prop("selectedIndex", -1);

          $(".skills-section1").hide();
          $(".skills-section2").hide();
          $(".skills-section3").hide();
          $("#chosenModule").hide();

          $(".grade-section1").hide();
          

          //gh
          $(".module-and-skills-container2").hide();
          $(".module-and-skills-container3").hide();
          $("#submitButton").hide();

          $("#skills-select1").change(function(){
            var length = $('#skills-select1 option:selected').length;
            if(length >=3  ){
                $(".module-and-skills-container2").show();
                var secondLeng = $('#skills-select2 option:selected').length;
                if(secondLeng >=3 ){
                    $(".module-and-skills-container3").show();
                }

                var thirdLeng = $('#skills-select3 option:selected').length;
                if(thirdLeng <3 ){
                    $("#submitButton").hide();
                }
            }
            if (length <3 ){
                $(".module-and-skills-container2").hide();
                $(".module-and-skills-container3").hide();
            }
          })

          $("#skills-select2").change(function(){
            var length = $('#skills-select2 option:selected').length;
            if(length >=3  ){
                $(".module-and-skills-container3").show();
                var thirdLeng = $('#skills-select3 option:selected').length;
                //if(thirdLeng >=3 ){
                //    $("#submitButton").show();
                //}
                if(thirdLeng <3 ){
                    $("#submitButton").hide();
                }
            }
            if (length <3 ){
                $(".module-and-skills-container3").hide();
            }
          })

          $(document).change(function(){
            var length = $('#skills-select3 option:selected').length;
            if(length >=3 && $("#skills-select3").is(":visible") ){
                $("#submitButton").show();
            }
            else {
                $("#submitButton").hide();
            }
          })
          //gh






          $("#module-select1").change(function (){
            $("#skills-select1").empty();
              $(".skills-section1").show();
              $(".grade-section1").show(); ///////////////// WHAT

              var chosenModuleOption1 = $("#module-select1 option:selected").html();
              //$("#chosenModule").text(chosenModuleOption);

              
              {% for mod in allModules %}

                  if(chosenModuleOption1=="{{ mod }}"){
                      {% for sk in mod.skills.all %}
                          $("#skills-select1").append(new Option("{{ sk }}", "{{ sk }}"));
                      {% endfor %}
                  }

              {% endfor %}  

          });


          $("#module-select2").change(function (){
            $("#skills-select2").empty();
              $(".skills-section2").show();

              var chosenModuleOption2 = $("#module-select2 option:selected").html();
              
              {% for mod in allModules %}

                  if(chosenModuleOption2=="{{ mod }}"){
                      {% for sk in mod.skills.all %}
                          $("#skills-select2").append(new Option("{{ sk }}", "{{ sk }}"));
                      {% endfor %}
                  }

              {% endfor %}  

          });




          $("#module-select3").change(function (){
            $("#skills-select3").empty();
              $(".skills-section3").show();

              var chosenModuleOption3 = $("#module-select3 option:selected").html();
              
              {% for mod in allModules %}

                  if(chosenModuleOption3=="{{ mod }}"){
                      {% for sk in mod.skills.all %}
                          $("#skills-select3").append(new Option("{{ sk }}", "{{ sk }}"));
                      {% endfor %}
                  }

              {% endfor %}  

          });

          
    });

    </script>


{% endblock content %}
