{% load static %}
<html>
<head>
    
</head>

<body>

    <div class="test">
        <div class = "okeh">
        <p> HEY </p>
        </div>

        &nbsp;

        <div class = "okeh">
        <p> HEY </p>
        </div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"> </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.js" > </script>

    <script>
        $(".okeh").click(function() {
            $.notify("okehh");
        })
    </script>
<body>
</html>
